html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.mobile__topmenu, .mobile__header-container, .dropdown, .mobile__dealer-filter__count, .dealer-filter.filter-container.mobile__dealer-filter, .radio_label_text, .mobile_checkbox, .tap-to-call{
  display: none;
}

.topmenu {
  background-color: #083D83;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}

.topmenu__link {
  font-size: 13px;
  margin-right: 25px;
  color: white;
}

.topmenu__link:hover {
  color: #46d6d6;
}

.topmenu__action-icon {
  width: 15px;
  margin-right: 50px;
}

.header {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
	height: 32px;
	margin: 35px 84px;
}

.header__menu--desktop {
  display: flex;
  align-items: center;
}

.header__menu-container {
	height: 107px;
  border-top: 5px solid white;
  list-style-type: none;
}

.header__menu-main {
  padding: 0px 25px;
  font-weight: 800;
  color: #083d83;
  margin-top: 35px;
  margin-right: 10px;
  font-size: 20px;
}

.arrow {
  height: 20px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  float: right;
  margin-top: -20px;
  margin-right: 5px;
}

.header__menu-container:hover .arrow {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: #f6f6f6;
}

.header__menu-container:hover {
  background-color: #f6f6f6;
  border-top: 5px solid #46d6d6;
}

.header__sub-menu {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 5px solid #46d6d6;
  color: black;
}

.header__menu-container:hover .header__sub-menu {
  display: flex;
  margin-top: 45px;
  margin-left: -140px;
  flex-wrap: wrap;
  padding: 20px;
  width: 460px;
}

.header__sub-menu-link {
  width: 50%;
  padding: 9px 0px;
  color: black;
}

.header__sub-menu-link:hover {
  color: #46d6d6;
}

.header__location-icon {
  height: 17px;
  padding: 0px 5px;
}

.header__menu-button {
  background-color: white;
  border: 1px solid #216ddf;
  color: #216ddf;
  font-weight: 600;
  border-radius: 3px;
  width: 155px;
  height: 42px;
  margin-right: 90px;
  cursor: pointer;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-button:hover {
  background-color: #216ddf;
  color: white;
}

#map {
  height: 300px;
  width: 100%;
}

.pool-locator__form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 600px;
  max-height: 600px;
  margin-top: 35px;
}

.pool-locator__user-location {
  padding: 5px;
}

.pool-locator__instructions {
  padding: 10px;
	font-size: 13px;
}

.pool-locator__button {
  margin: 15px 0px;
  padding: 15px 20px;
	background-color: #216ddf;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.pool-locator__close {
  color: #aaaaaa;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  background-color: #083d83;
  width: 100%;
  margin: 0;
}

.pool-locator__header-container {
  background-color: #083D83;
  width: 100%;
  padding: 3px 0px 20px;
  margin-top: -3px;
}


.pool-locator__logo {
  margin: 0 auto;
  display: block;
  background-color: #083d83;
  padding: 0;
  width: 220px;
}

.pool-locator__overlay {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-header__container--show {
  display: none;
}

.main__image {
  background-image: url("images/hero-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.main__image-header {
  font-weight: 300;
  font-size: 48px;
  text-shadow:
               0 3px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.main__image-subheader {
  color: #46d6d6;
  text-shadow:
               0 3px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  font-weight: 600;
  padding-top: 30px;
}

hr {
  width: 10%;
  margin-top: 46px;
  margin-bottom: 54px;
  border: 1px solid white;
}

.dropdown-menu-container--hidden {
  display: none;
}

.dealers {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-image: url("images/water-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: 20px;
}

.steps__step {
  width: 390px;
}

.steps__image {
  width: 100px;
  float: left;
  padding-right: 10px;
}

.steps__title {
  color: #083D83;
  margin: 0;
}

.steps__instructions {
  margin: 0;
  padding-top: 5px;
}

.dealers__not-returned {
	display: none;
	padding: 300px 0px 100px;
  text-align: center;
  font-size: 55px;
  background-image: url("images/water-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dealer-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  max-width: 1130px;
  border-radius: 17px;
  margin-top: 195px;
  height: 70px;
}

.dealer-filter__count {
  padding: 10px 50px;
  font-weight: 700;
  font-size: 18px;
  color: #216ddf;
  border-right: 1px solid #eae6e6;
}

.dealer-filter__filter-label {
  font-weight: 700;
  margin-left: 40px;
  padding-right: 40px;
}

.dealer-filter__dealer-certification-checkbox {
  background-color: white;
  -webkit-appearance: none;
  border: 1px solid lightgray;
  padding: 11px;
  border-radius: 5px;
}

.dealer-filter__dealer-certification-checkbox:checked {
  border: 8px solid #216ddf;
  padding: 3px;
}

.filter__label-span {
  padding-left: 5px;
}

label {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.dealer-filter__tool-tip {
  width:25px;
}

.dealer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  width: 1130px;
}

.dealer {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 2px solid #f4f4f4;
  text-align: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(130,133,116,1);
  -moz-box-shadow: 0px 2px 10px 2px rgba(130,133,116,1);
  box-shadow: 0px 2px 10px 2px rgba(130,133,116,1);
  overflow: hidden;
}

.dealer__name-container {
  height:70px;
  display: flex;
  align-items: center;
}

.dealer__name {
  font-weight: 300;
  padding-top: 0.5em;
  font-size: 20px;
  width: 250px;
}

.phone-icon {
  width: 40px;
  padding: 5px;
}

.dealer__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  border-top: 1px solid lightgray;
  width: 310px;
  padding-top: 20px;
  font-weight: 800;
  font-size: 24px;
}

.dealer__phone:hover {
  color: #444;
}

#dealer__email-modal {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1050;
  overflow: hidden;
  outline: 0px;
  padding-right: 0px;
}

.dealer__cant-talk {
  font-size: 14px;
  font-style: italic;
  padding: 20px 0px;
}

.dealer__email--hidden {
	display: none;
}

.dealer__email-button {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border: 3px solid #46d6d6;
  border-radius: 5px;
  color: #083D83;
  font-weight: 800;
  cursor: pointer;
}

.dealer__email-icon {
  height: 15px;
  padding-right: 5px;
}

.dealer__email-modal-container {
  width: 540px;
  margin: 0 auto;
  margin-top: 40px;
}

.dealer__email-modal-title {
  padding: 0px 20px;
  font-weight: 300;
  font-size: 30px;
}

.modal__header-span-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__email {
  padding: 20px 20px 0px;
  font-weight: 700;
  font-size: 12px;
}

.modal__exit {
  cursor: pointer;
  width: 30px;
  text-align: center;
}

.modal__header {
  background-color: #083D83;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal__form-span-container {
  display: flex;
}

.modal__form-span {
  font-size:12px;
  padding: 20px 0px;
  margin-left: 30px;
}

.modal__form {
  background-color: white;
  cursor: default;
}

.modal__form-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.modal__form-container {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  background-color: #f6f6f6;
  width: 90%;
}

.modal__input {
  height: 40px;
  border: 1px solid lightgray;
  font-size: 20px;
}


.modal__spans {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  padding-top: 15px;
}

.modal__form-container-phone {
  width: 50%;
}

.modal__form-pool-question{
  display: flex;
  padding: 5px 0px 25px;
  border-bottom: 1px solid lightgray;
}

.modal__form-pool-question-button {
  padding: 5px 25px;
  margin: 0px 5px;
  background-color: #f5f5f5;
  border: 1px solid gray;
  font-size: 12px;
  border-radius: 5px
}

.modal__form-pool-question-button:active {
	background-color: #46D6D6;
	color: white;
}

.modal__form-pool-question-button:focus {
	background-color: #46D6D6;
	color: white;
}

.modal__form-input-title {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

#modal__form-input-phone {
  width: 50%;
}

.modal__form--invalid {
  height: 30px;
}

.dealer__email-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  color: black;
  font-size: 15px;
}

.dealer__email-send:hover {
  color: black;
}

.dealer__email-arrow {
  padding-left: 10px;
}

.modal__form-footer-container {
  margin-top: 30px;
  width: 111%;
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-footer {
  font-size: 12px;
  margin: 0;
}

.dealer__hours {
  padding-top: 50px;
  font-weight: 700;
}

.dealer__weekday-hours {
  padding: 10px 0px;
}

.dealer__saturday-hours {
  padding-bottom: 10px;
}

.dealer__certifications {
  background-color: #f5f5f5;
  margin-top: 50px;
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.dealer__cert-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 0px;
}

.dealer__cert-list-item {
	padding: 10px 30px;
}

.dealer__cert-icons {
  width: 20px;
  padding-right: 5px;
}

.bottom__header {
  display: flex;
  align-items: center;
  color: white;
  background-color: #083d83;
  flex-direction: column;
}

.bottom__logo {
  width: 220px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.bottom__social-media-container {
  padding-bottom: 15px;
  display: flex;
}

.bottom__tag {
  padding: 10px;
  height: 20px;
}

.footer {
  background-color: #216ddf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.copyright, .privacyPolicy {
  border-right: 1px solid white;
}

.footer__text {
  padding: 0px 15px;
  font-size: 13px;
  color: white;
}

body.modal-open {
  overflow: hidden;
}

.dealer__email-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
  overflow: scroll;
}




/*****************************************************
*****************************************************
*****************************************************
***************************************************


MOBILE STYLESHEET


***************************************************
***************************************************
***************************************************
***************************************************/

@media only screen and (max-width: 480px) {
  html {
    margin: 0;
  }

  body {
    position: inherit;
  }

  .topmenu, .header, .dealer-filter, .modal__form-pool-question-button, .modal__form-footer-container{
    display: none;
  }

  .mobile__topmenu {
    display: flex;
    justify-content: center;
    background-color: #216ddf;
  }

  .header__menu-button {
    float: left;
  }

  .mobile__header-container {
    display: flex;
    height: 50px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    box-shadow: 1px 4px 7px 0px rgba(66,66,66,1);
    justify-content: space-around;
    align-items: center;
  }

  .mobile-header__icon {
    width: 70px;
    margin-top: 15px;
  }

  .mobile-header__container--hidden {
    display:none;
  }

  .mobile-header__container--show {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-top: 5px solid #46d6d6;
    border-bottom: 5px solid #46d6d6;
    margin-left: -450px;
  }

  .mobile-header__menu {
    display: inline-block;
    width: 100%;
  }

  .mobile-header__close {
    text-align: right;
    color: #46d6d6;
    background-color: white;
    padding-right: 15px;
    margin: 0;
    font-size: 25px;
  }

  .mobile-header__list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid white;
    background-color: #f5f5f5;
    color: black;
  }

  .mobile-header__list {
    display: flex;
    flex-direction: column;
  }

  .mobile-header__title {
    text-align: center;
    padding-bottom:20px;
    font-size: 18px;
    font-weight: 700;
    color: #01529e;
    background-color: white;
    margin: -1px;
  }

  .pool-locator__button {
    color: #216ddf;
    background-color: white;
    border: 1px solid #216ddf;
    padding: 5px;
  }

  .mobile__header-logo {
    height: 23px;
  }

  .pool-locator__form-container {
    max-height: 100%;
    margin: 0;
  }
  
  .dealers__not-returned {
    padding: 100px 0px 50px;
  }

  .header__menu-button {
    margin: 0;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .main__image {
    background-image: url('images/Hero-image-mobile.png');
  }

  .main__image-header {
    font-size: 30px;
    padding: 0px 35px;
  }

  .main__image-subheader {
    font-size: 15px;
    text-shadow: none;
    margin: 0;
  }

  hr {
    width:40%;
  }

  .steps__step {
    width: 90%;
    padding: 10px 5px;
  }

  .mobile__steps--border {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .steps {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }

  .steps__image {
    width: 80px;
    padding-left: 10px;
  }

  .steps__title {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
  }

  .steps__instructions {
    font-size: 2vh;
    margin: 0;
    padding-top: 10px;
  }

  .dropdown-menu-container--hidden {
    display: none;
  }

  .dropdown-menu-container--show {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding-bottom: 15px;
    margin-top: -14px;
    transition: all 0.5s ease;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
    background-color: #f5f5f5;
  }

  .filter-results-container {
    display: flex;
  }

  .dropdown__container--content {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 10px 0px;
  }

  .dropdown-button {
    padding: 15px 12px;
    border: none;
    border: 1px solid lightgray;
  }

  .dropdown-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  }

  .dropdown-filter {
    list-style-type: none;
    padding: 5px 0px;
  }

  .mobile_dealer-filter-certs {
    font-size: 15px;
	  padding: 0px 0px 0px 15px
  }

  .dropdown-menu {
    display: flex;
    width: 80%;
    margin: 0;
    background-color:white ;
    flex-direction: column;
    border: 1px solid lightgray;
    margin-top: -2px;
    padding: 15px;
  }

  .mobile__dealer-filter__count {
    display: block;
    padding: 0px;
    font-size: 15px;
    border: none;
  }

  .filter-results {
    margin: 0;
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid lightgray;
    background-color: white;
  }

  label {
    font-size: 12px;
  }

  .tool__tip--container {
    display: flex;
    align-items: center;
  }

  .dealer-filter__tool-tip {
    width:20px;
  }

  .dealer-filter__dealer-certification-checkbox {
      padding: 8px;
  }

  .dealers__returned {
    margin-top: 50px;
  }

  .dealer__container {
    width: auto;
    justify-content: center;
    padding: 0px;
  }

  .dealer {
    margin: 0;
    width: 90%;
    border-radius: 0px;
    box-shadow: none;
  }

  .phone-icon {
    width: 40px;
    content: url("images/phone-icon-mobile.png");
    padding: 0px;
  }

  .tap-to-call, .dealer__phone {
    color: white;
    background-color: #216ddf;
    width: 80%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 400;
	  border-radius: 3px;
	  align-items: center;
  }

  .dealer__cant-talk {
    font-size: 10px;
  }

  .dealer__cert-list-item {
    font-size: 10px;
  }

  .dealer__email-modal-container {
    width: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .modal__form-span {
    font-size: 16px;
    margin-left: 20px;
    text-align: left;
    padding-right: 16px;
  }

  .modal__form-container-phone {
    width: 70%;
  }

  .mobile_checkbox {
    display: flex;
    -webkit-appearance: none;
    border: 1px solid lightgray;
    background-color: white;
    padding: 11px;
    border-radius: 5px;
  }

  .mobile_checkbox:checked {
    border: 8px solid #216ddf;
    padding: 3px;
  }

  .radio_label_text {
    padding-left: 7px;
  }

  .radio_label--yes {
    padding-left: 0;
  }

  .radio_label_text {
    display: block;
  }
  

  .dealer__email-arrow {
    visibility: hidden;
  }

  .dealer__email-send  {
    visibility: hidden;
  }

  .dealer__email-send:after {
    content: "Send";
    color: #46d6d6;
    visibility: visible;
    margin-left: 100px;
    font-size: 15px;
  }

  .topmenu__link-container {
    padding: 10px;
    border-bottom: 1px solid #a0b5d5;
    font-size: 13px;
  }

  .topmenu__link {
    padding: 0px 15px;
    margin: 0;
  }

  .pool-locator__logo {
    width: 80%;
  }

  .bottom__logo {
    width: 180px;
  }

  .bottom__social-media-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .mobile__dealer-dist {
    border-right: 1px solid white;
  }

  .topmenu__action__icon {
    width: 15px;
  }

  .dealer__email-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
    overflow: scroll;
  }

  .modal {
    display: flex;
    z-index: 2;
  }

  body.modal-open {
    overflow: hidden;
  }
  
}